@import './src/styles/_variables';

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;

  & .block {
    width: 30%;
    height: 350px;
    border: 4px solid $base-aqua;
    border-radius: 10px;
  }
}


.numField {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: calc(50% - 20px);
  border: 4px solid $base-aqua;
  border-radius: 10px;

  & .message {
    font-size: 30px;
    font-weight: bold;
    color: $base-aqua
  }

  & .number {
    font-size: 70px;
    font-weight: bold;
    color: $base-color;
  }

  & .error {
    font-size: 40px;
    font-weight: bold;
    color: red;
  }

  & .numRed {
    color: red;
    font-size: 90px;
  }


}


.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 4px solid $base-aqua;
  border-radius: 10px;
  margin: 20px;
  height: calc(50% - 90px);
  padding: 20px;
}

.rangeField {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: calc(50% - 20px);
  border: 4px solid $base-aqua;
  border-radius: 10px;
  padding: 0 10px;

  & .rngFieldWrap {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    & .text {
      align-self: start;
      font-size: 30px;
      font-weight: bold;
      color: $base-aqua;

    }

    input {
      margin-left: auto;
      font-weight: bold;
    }

  }


}
